* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  background: rgba(188, 219, 167, 0.2);
  backdrop-filter: blur(2.9px);
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-text {
  font-size: 0.75rem;
}

nav > ul {
  display: flex;
  align-items: center;
  background: rgb(50, 108, 95);
  list-style: none;
  gap: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.right-nav > li > a.nav-bar-link {
  display: none;
}

.nav-bar-link {
  color: rgb(235, 235, 235);
  font-weight: bold;
  text-decoration: none;
}

.menu-icon-button {
  background: transparent;
  border: none;
}

a:hover {
  color: grey;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(125%);
  overflow-x: hidden;
}

.viewable {
  transform: translateX(125%);
}

.right-nav {
  display: flex;
  margin-left: auto;
}

.container {
  position: relative;
  font-size: 1rem;
  overflow-x: hidden;
}

.hero-image-container {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hero-text-container {
  width: 100%;
  position: absolute;
  top: 5%;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-align: center;
}

.hero-text-primary {
  font-size: 1.5rem;
  font-weight: bold;
}

.hero-text-secondary {
  font-size: 1rem;
  margin-top: 0.25em;
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin: 1rem 0;
  line-height: 1.75rem;
  padding: 1rem;
}

.intro-header {
  font-size: 1.5rem;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  bottom: 0;
  background-color: #ca5171;
  color: white;
  padding: 1rem;
}

.footer-logo {
  margin: 0 auto;
}

.footer-details-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.practice-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.socials-list {
  display: flex;
  gap: 1.75rem;
  padding-top: 0.5rem;
}

@media all and (min-width: 640px) {
  .right-nav {
    gap: 1rem;
  }
  .right-nav > li > a.nav-bar-link {
    display: block;
  }

  .right-nav > li:last-child {
    display: none;
  }

  .hero-image {
    width: 100%;
    height: 400px;
  }

  .hero-text-container {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .hero-text-primary {
    font-size: 2rem;
  }

  .hero-text-secondary {
    display: block;
    font-size: 1.5rem;
  }

  .footer-container {
    position: fixed;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    margin: 0 auto;
    gap: 2rem;
  }

  .footer-logo {
    width: 100px;
    height: 100px;
    margin: auto 0;
  }

  .footer-details-container {
    display: flex;
    flex-direction: row;
  }

  .socials-list {
    flex: 1;
  }
}
