* {
  margin: 0;
  padding: 0;
}

.bg {
  background: rgba(188, 219, 167, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
}

body {
  min-height: 100vh;
  background: rgba(188, 219, 167, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  font-family: "Montserrat", sans-serif;
}

nav > ul {
  display: flex;
  background: #d55879;
  backdrop-filter: blur(2.9px);
  box-shadow: 2px 2px 25px rgb(195, 195, 195);
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.nav-bar-link {
  color: rgb(235, 235, 235);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: grey;
}

button {
  border: 0;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.25rem;
}

.interested-button {
  background-color: rgb(126, 201, 183);
  color: white;
  font-weight: bold;
}

.learn-button {
  background-color: #999999;
  color: white;
}

.learn-button:hover {
  background-color: #5f5f5f;
  cursor: pointer;
}

.interested-button:hover {
  background-color: rgb(80, 172, 150);
  cursor: pointer;
}

.right-nav {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}
