* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  background: rgba(188, 219, 167, 0.2);
  backdrop-filter: blur(2.9px);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-text {
  font-size: 0.75rem;
}

nav > ul {
  display: flex;
  align-items: center;
  background: rgb(50, 108, 95);
  list-style: none;
  gap: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.nav-bar {
  position: relative;
}

.right-nav > li > a.nav-bar-link {
  display: none;
}

.nav-bar-link {
  color: rgb(235, 235, 235);
  font-weight: bold;
  text-decoration: none;
}

.menu-icon-button {
  background: transparent;
  border: none;
}

a:hover {
  color: grey;
}

.mobile-menu {
  width: 0;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s ease-in;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  list-style: none;
}

.mobile-menu > li {
  display: none;
  padding: 0.5rem;
}

.mobile-menu > li > a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.viewable {
  display: block;
  opacity: 1;
}

.close-btn-container {
  margin-left: auto;
}

.mobile-menu-close-btn {
  outline: none;
  border: none;
  padding: 1rem;
  background: transparent;
  color: white;
  font-size: 1.5rem;
}

.right-nav {
  display: flex;
  margin-left: auto;
}

.container {
  position: relative;
  font-size: 1rem;
  overflow-x: hidden;
}

.hero-image-container {
  position: relative;
}

.hero-image {
  width: 100%;
  object-fit: all;
}

.hero-text-container {
  width: 100%;
  position: absolute;
  top: 5%;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-align: center;
}

.hero-text-primary {
  font-size: 1.5rem;
  font-weight: bold;
}

.hero-text-secondary {
  font-size: 1rem;
  margin-top: 0.25em;
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin: 1rem 0;
  line-height: 1.75rem;
  padding: 1rem;
}

.intro-header {
  font-size: 1.5rem;
}

.image-section {
  display: flex;
  position: relative;
  justify-content: space-around;
  gap: 1rem;
  overflow: hidden;
}

.next-image {
  position: absolute;
  left: 100%;
  top: 0;
}

.left-arrow-icon {
  width: 5%;
  height: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.left-arrow-icon:hover {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  opacity: 0.75;
}

.right-arrow-icon {
  width: 5%;
  height: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
}

.right-arrow-icon:hover {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  opacity: 0.75;
}

/* Footer */

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ca5171;
  color: white;
}

.footer-logo {
  margin: 2em auto 0;
}

.footer-details-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.practice-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.socials-list {
  display: flex;
  gap: 1.75rem;
  padding-top: 0.5rem;
}

@media all and (min-width: 640px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .right-nav {
    gap: 1rem;
  }
  .right-nav > li > a.nav-bar-link {
    display: block;
  }

  .right-nav > li:last-child {
    display: none;
  }

  .hero-image {
    display: block;
    max-width: 1000px;
    margin: 2em auto 0;
  }

  .hero-text-container {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .hero-text-primary {
    font-size: 2rem;
  }

  .hero-text-secondary {
    display: block;
    font-size: 1.5rem;
  }

  .image-section {
    width: 75%;
    margin: 0 auto;
  }

  /* Footer */

  .footer-container {
    position: fixed;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    margin: 0 auto;
    gap: 2rem;
  }

  .footer-logo {
    width: 100px;
    height: 100px;
    margin: auto 0;
  }

  .footer-details-container {
    display: flex;
    flex-direction: row;
  }

  .socials-list {
    flex: 1;
  }
}
